:root {
    /*Цвет заголовков, обводок,
    а так же Hover эффектов*/
    --baseColor        : #ffad15;
    /*Основной цвет фона*/
    --vaseBodyColor    : rgb(31, 30, 29);
    /*Ширина главного контейнера*/
    --widthContainer   : 1100px;
}
